body{
    font-family: Tahoma, Geneva, sansa-serif;
    color: white;
    background-color: darkcyan;
    /* background: url(simple.jpg); */
}



form{
   
   width: 240px;
   text-align: center;
   align-content: center;
   margin-left: 37%;
   margin-top: 10%;
   padding-top: 50px;
}

input
{
   width: 240px;
   text-align: center;
   background: transparent;
   border: none;
   border-bottom: 1px solid #fff;
   font-family: 'Play', sansa-serif;
   font-size: 16px;
   font-weight: 200px;
   padding: 10px 0;
   transition: border 0.5s;
   outline: none;
   color: #fff;
}

input[type=submit]
{
   border: none;
   width: 190px;
   background: white;
   color: #000;
   font-size: 16px;
   line-height: 25px;
   padding: 10px 0;
   border-radius: 15px;
   cursor:pointer;
}

input[type=submit]:hover
{
   color:#fff;
   background-color: lightgray;
}

h2
{
   color: black;

}



a{
   color: Coral;
   text-decoration:blink;
   margin-right:10px; 
   font-size:15px; 
   font-family: Tohoma, Geneva, sans-serif;
}

a:hover
{
   color: skyblue;
}

.container
{
   text-align: center;
   display: flex;
   flex-direction: row;
   width: 100%;
}

::placeholder {
   color:aliceblue;
   opacity: 0.9;
}
.signin {

    background: rgba(44, 60, 80, 0.7);
	padding: -90px;
	width: 250px;
	margin: auto;
	/* margin-top: 80px; */
	margin-bottom: 65px;
	/* height: 400px; */
	margin-left: 350px;
    
}